@import "tailwindcss";

@theme {
  --color-background-primary: #FFF9F0;
  --color-background-secondary: #FFFEFC;
  
  --color-blue-joy: #2C7BB2;
  --color-honest-eds: #FB9500;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.marker-cluster {
  background-clip: padding-box;
  background-color: #FB9500;
  border-radius: 20px ;
}
